---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon";
import { SOCIALS } from "@config";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={className}>
            <slot />
        </main>

        <SectionContainer class="mt-32">
            <footer class="py-40 bg-neutral-50">
                <div class="wrap-sm mx-auto px-8 grid gap-16">
                    <p
                        class="text-neutral-500 font-medium text-1xl md:text-1xl lg:text-1xl leading-5 lg:tracking-tighter"
                    >
                        ご感想や、間違っている情報がございましたらxxx@xxx.comまでご連絡ください。
                    </p>
                    <span
                        class="text-neutral-500 text-mini flex flex-wrap gap-4 md:gap-0 md:justify-between"
                    >
                        <span>© {currentYear} ROG</span>
                        <span><a class="" href="/">Privacy Policy</a></span>
                    </span>
                </div>
            </footer>
        </SectionContainer>
    </body>
</html>
